@model EmployeeSerializer.Models.Employee;

<form action="@Url.Action("Add","Employee")" method="post">
    <div id="employee_form">
        <input type="text" name="FriendName" id="FriendNameInput" placeholder="Friend Name">
        <input type="text" name="Place" id="PlaceInput" placeholder="Place">
        <input type="number" name="Salary" id="SalaryInput" placeholder="Salary">

        <button>Add Employee</button>
    </div>
</form>