@model EmployeeSerializer.Models.Employee;

<form action="@Url.Action("Add","Employee")" method="post">
    <div id="employee_form">
        <input type="text" name="EmployeeName" id="EmployeeNameInput" placeholder="Employee Name">
        <input type="text" name="EmployeeDepartment" id="EmployeeDepartmentInput" placeholder="Employee Department">
        <input type="number" name="EmployeeSalary" id="EmployeeSalaryInput" placeholder="Salary">

        <button>Add Employee</button>
    </div>
</form>