@model EmployeeSerializer.Models.Employee;
@{
    List<Employee>? employees = ViewBag.employees;
    string error = ViewBag.error;

    bool isEmployeesListEmpty = employees == null || employees.Count() == 0;
    bool showError = error != null && !error.Equals("");
}

<a asp-controller="Employee" asp-action="Add" class="btn button-success mb-4">Add Employee</a>

@if(showError){
    <div class="alert alert-danger mb-3" role="alert">
        @error
    </div>
}

@if(isEmployeesListEmpty){
    <p class="display-6">
        There are no employees added
    </p>
    <span class="fs-6 text-secondary">Please add some employees</span>
}else{
    <table id="employees_list" class="mb-5">
        <tr class="border-bottom border-black">
            <th>Employee Name</th>
            <th>Department</th>
            <th>Salary</th>
            <th></th>
        </tr>
        @foreach(var employee in employees!){
            <tr class="border-bottom" style="height: 4rem;">
                <td>@employee.EmployeeName</td>
                <td>@employee.EmployeeDepartment</td>
                <td>Rs. @employee.EmployeeSalary</td>
                <td class="align-items-center">
                    <a class="btn btn-outline-danger button-delete" asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}