<div class="hero text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="mb-5">Keep track of your employees</p>

    <a class="btn button-success" asp-controller="Employee" asp-action="Index">View Employees</a>
</div>
