@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="mb-5">Keep track of your employees</p>

    <button id="add_employee_button" class="btn btn-outline-success">Add Employee</button>


</div>
